extends layout.pug

append head-content
    title Menu

block navigation-content
    //TODO: These should change based on which user is logged in currently.
    a(href='/orders') ORDERS
    a(href='/login') LOGIN
    a(href='/signup') SIGNUP
    a(href='/newItem') ADD ITEM

block page-name 
    - pageName = "Menu"

block page-content
    each item in list
        div.menu-item-container.make-things-horizontal
            img(src=item.imgSrc alt="image of "+item.name).menu-image
            div 
                h3 #{item.name}
                p #{item.description}
                p Size: #{item.size}
                p Crust: #{item.crust}
                h4 Toppings Included:
                if (item.toppings.length > 0)
                    ul 
                        each topping in item.toppings
                            li #{topping}
                else 
                    p There are no toppings.
                a(href="/modify/"+item.name) Modify
