extends layout.pug

mixin addDropdown(name, items)
  select(name=name)
    each item in items
      if (item.name)
        option(value=item.name) #{item.value}
      else 
        - let itemLower = item.toLowerCase()
        option(value=itemLower) #{item}

block navigation-content
  a#order(href='order.html') ORDER
main
  h2 Add/Modify Item
  // TODO: Define method (post likely) and action for form
  form(method="POST" action="/modify")#modify-item-form
    div
      fieldset#modify-item-image.make-things-vertical-please
        legend Item Image:
        img(alt='image to display item as' src='')
        label(for='modify-item-image-dropdown') Use predefined image:
        +addDropdown("image-predefined", 
        [{name: "na", value: ""},
        "image1",
        "image2"])#modify-item-image-dropdown
          option(name='blank')
          option(name='opt1') Hawk
          option(name='opt2') Tuah
        label(for='modify-item-image-url') Use image URL:
        input(name="image-URL")#modify-item-image-url
      fieldset#modify-item-info.make-things-vertical-please
        legend Item Info:
        label(for='modify-item-name') Item name:
        input(name="name")#modify-item-name
        label(for='modify-item-description') Item description:
        textarea(name="description")#modify-item-description
      fieldset#modify-item-options
        input#save(type='submit' value='Save changes')
        input#cancel(type='submit' value='Cancel changes')
        input#delete(type='submit' value='Delete item')
    div
      fieldset#modify-item-properties.make-things-vertical-please
        legend Item Properties:
        label(for='modify-item-size') Item size:
        +addDropdown("size", 
        ['Small',
        'Medium',
        'Large',
        {name: "na", value: "N/A"}])#modify-item-size
        label(for='modify-item-crust') Item crust:
        +addDropdown("crust", 
        ['Regular',
        'Thin',
        'Stuffed',
        {name: "na", value: "N/A"}])#modify-item-crust
      fieldset#modify-item-toppings.make-things-vertical-please
        h3 Item Toppings:
        input#toppings-top1(type='radio' name='modify-item-toppings' value='Cheese')
        label(for='toppings-top1') Cheese
        input#toppings-top2(type='radio' name='modify-item-toppings' value='Pepperoni')
        label(for='toppings-top1') Pepperoni
        input#toppings-top3(type='radio' name='modify-item-toppings' value='Wet Mulch')
        label(for='toppings-top1') Wet Mulch
footer
