extends layout.pug

mixin addDropdown(id, name, selected, items)
  select(id=id name=name)
    each item in items
      if (item.name)
        option(value=item.name selected=(item.name === selected)) #{item.value}
      else 
        option(value=item selected=(item === selected)) #{item}

mixin addError(id, description)
  p(id=id hidden).error #{description}

append head-content
    script(src="/scripts/modify-item.js" defer)

block navigation-content
  a(href="/menu") MENU
  a(href='/orders') ORDERS

block page-name
  - let pageName = (name?"Modify":"Add")+" Item"

block page-content
  p#modify-item-result
  form#modify-item-form
    div
      fieldset#modify-item-image.make-things-vertical-please
        legend Item Image:
        - const imgSrc = imageUrl?imageUrl:"/img/"+imagePredefined+".png"
        img(alt='image to display item as' src=imgSrc)
        label(for='modify-item-image-dropdown') Use predefined image:
        +addDropdown("modify-item-image-dropdown","imagePredefined", imagePredefined,
        [
        "",
        {name: "pizza", value: "Plain Pizza"},
        {name: "pizzaMeat", value: "Meat Pizza"},
        {name: "pizzaGreen", value: "Green Pizza"},
        {name: "pizzaEvil", value: "Pineapple Pizza"},
        {name: "pizzaMeatyGreen", value: "Meaty Green Pizza"},
        {name: "breadsticks", value: "Breadsticks"},
        {name: "slime", value: "Slime"}])
        label(for='modify-item-image-url') Use image URL:
        input(name="imageURL" value=imageUrl)#modify-item-image-url
        +addError("invalid-img","Please use a valid predefined image or valid image URL.")
      fieldset#modify-item-info.make-things-vertical-please
        legend Item Info:
        label(for='modify-item-name') Item name:
        input(name="name" value=name disabled=name)#modify-item-name
        +addError("invalid-name","Name must be between 0 and 64 characters.")
        label(for='modify-item-description') Item description:
        textarea(name="description")#modify-item-description #{description}
        +addError("invalid-desc","Description must be between 0 and 400 characters.")
      fieldset#modify-item-options
        button#save() Save changes
        button#cancel() Cancel changes
        button#delete() Delete item
    div
      fieldset#modify-item-properties.make-things-vertical-please
        legend Item Properties:
        label(for='modify-item-size') Item size:
        +addDropdown("modify-item-size","size", size,
        ['Small','Medium','Large',"N/A"])
        label(for='modify-item-crust') Item crust:
        +addDropdown("modify-item-crust","crust", crust,
        ['Regular','Thin','Stuffed',"N/A"])
      fieldset#modify-item-toppings.make-things-vertical-please
        legend Item Toppings:
        - const TOPPINGS = ['Cheese', 'Pepperoni', 'Sausage', 'Peppers', 'Pineapple']
        each topping in TOPPINGS
          - let toppingLower = topping.toLowerCase()
          - let itemId = "modify-item-topping-"+toppingLower
          //I can use includes to check if a value exists in an array.
          input(id=itemId type='checkbox' name=topping checked=(toppings?toppings.includes(topping):false))
          label(for=itemId) #{topping}