extends layout.pug

mixin addDropdown(name, items)
  select(name=name)
    each item in items
      if (item.name)
        option(value=item.name) #{item.value}
      else 
        - let itemLower = item.toLowerCase()
        option(value=itemLower) #{item}

append head-content
    script(src="scripts/modify-item.js" defer)

block navigation-content
  a#order(href='order.html') ORDER

block page-name
  - let pageName = "Add/Modify Item"

block page-content 
  // TODO: Define method (post likely) and action for form
  form(method="POST" action="/modify")#modify-item-form
    div
      fieldset#modify-item-image.make-things-vertical-please
        legend Item Image:
        img(alt='image to display item as' src='')
        label(for='modify-item-image-dropdown') Use predefined image:
        +addDropdown("image-predefined", 
        [{name: "na", value: ""},
        "image1",
        "image2"])#modify-item-image-dropdown
          option(name='blank')
          option(name='opt1') Hawk
          option(name='opt2') Tuah
        label(for='modify-item-image-url') Use image URL:
        input(name="image-URL")#modify-item-image-url
      fieldset#modify-item-info.make-things-vertical-please
        legend Item Info:
        label(for='modify-item-name') Item name:
        input(name="name")#modify-item-name
        label(for='modify-item-description') Item description:
        textarea(name="description")#modify-item-description
      fieldset#modify-item-options
        input#save(type='submit' value='Save changes')
        input#cancel(type='submit' value='Cancel changes')
        input#delete(type='submit' value='Delete item')
    div
      fieldset#modify-item-properties.make-things-vertical-please
        legend Item Properties:
        label(for='modify-item-size') Item size:
        +addDropdown("size", 
        ['Small',
        'Medium',
        'Large',
        {name: "na", value: "N/A"}])#modify-item-size
        label(for='modify-item-crust') Item crust:
        +addDropdown("crust", 
        ['Regular',
        'Thin',
        'Stuffed',
        {name: "na", value: "N/A"}])#modify-item-crust
      fieldset#modify-item-toppings.make-things-vertical-please
        legend Item Toppings:
        - const TOPPINGS = ['Cheese', 'Pepperoni', 'Sausage', 'Peppers', 'Pineapple']
        each topping in TOPPINGS
          - let toppingLower = topping.toLowerCase()
          - let itemId = "modify-item-topping-"+toppingLower
          input(id=itemId type='checkbox' name=toppingLower)
          label(for=itemId) #{topping}